body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF200;
}

.playerDiv {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
}

#rockBtn {
    background-image: url(./img/playerIcons/rock.png);
    background-size: 200px;
    width: 200px;
    height: 200px;
}

#paperBtn {
    background-image: url(./img/playerIcons/paper.png);
    background-size: 200px;
    width: 200px;
    height: 170px;
}

#scissorsBtn {
    background-image: url(./img/playerIcons/scissors.png);
    background-size: 200px;
    width: 200px;
    height: 180px;
}

#computerIcon {
    width: 400px;
    height: auto;
}